<app-seach></app-seach>
<app-tags></app-tags>
<div class="container">
    <div class="posts">
        <app-not-found [visible]="!reports || !reports.length" resetLinkText="Reset Search"></app-not-found>
        <ul>
            <li *ngFor="let report of reports">
                <a routerLink="/report/{{report.id}}">
                    <div class="image">
                        <img [src]="report.imageUrl" [alt]="report.title" />
                    </div>
                </a>
                <div class="content">
                    <a routerLink="/report/{{report.id}}">
                        <div class="title">
                            {{report.title}}
                        </div>
                     </a>
                    <div class="tags">
                        {{report.tags}}
                    </div>
                    <div class="post">
                        {{truncatePost(report.post)}}
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="login">
        <app-login-page></app-login-page>
    </div>
</div>
