<header>
    <div class="container">
        <a routerLink="/" class="logo">Tingog</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li class="menu-container">
                    <a routerLink="/dashboard">Juan</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/reports">Reports</a>
                        <a>Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/about">About</a>
                </li>
            </ul>
        </nav>
    </div>
</header>