<header>
    <div class="container">
        <a routerLink="/" class="logo">Tingog</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/">Home</a>
                </li>
                <li *ngIf="user.token" class="menu-container">
                    <a routerLink="/dashboard">{{user.name}}</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/reports">Reports</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/about">About</a>
                </li>
            </ul>
        </nav>
    </div>
</header>